<mat-toolbar class="toolbar-primary">
    <mat-toolbar-row>
        <h1>Sistema Venta</h1>

        <button mat-icon-button (click)="sidenav.toggle();">
            <mat-icon>menu</mat-icon>
        </button>

    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav opened="true" mode="push" style="width: 200px;">
        <mat-nav-list>

            <mat-list-item class="mat-list">
                <div class="icon-align">
                    <mat-icon mat-list-icon class="margin-icon">dashboard</mat-icon>
                    <div mat-line>Dashboard</div>
                </div>
            </mat-list-item>
            
        </mat-nav-list>
   
    </mat-sidenav>

    <mat-sidenav-content style="background-color:#e4e7f3be;">
        <div style="height: 90vh;">
            <router-outlet></router-outlet>
        </div>

    </mat-sidenav-content>

</mat-sidenav-container>