.toolbar-primary {
  background-color: #4c5ec7; 
  color: rgb(247, 243, 243); 
}

.icon-align {
  display: flex ;
  align-items: center;  

}

.mat-list:hover {
  background-color: #ffffffc2; /* gris suave */
}

.margin-icon {  
  margin-right: 8px;
}


.menu-line{
  border-right: 1px solid #ddbbbb;
}