<h2 style="margin:20px 0px 0px 40px">Productos</h2>

<mat-card style="margin:20px 40px 40px 40px">

    <mat-card-content>
        <button mat-raised-button (click)="nuevoProducto()">
            <mat-icon mat-list-icon>add</mat-icon>
            Nuevo Producto
        </button>

    </mat-card-content>

    <mat-divider style="margin: 20px 0px 20px 20px"></mat-divider>

    <mat-card-content class="dashboard-card-content">
        <mat-form-field appearance="fill">
            <mat-label>Buscar</mat-label>
            <input matInput (keyup)="aplicarFiltroTabla($event)" #input>
        </mat-form-field>

        <div class="mat-elevation-z2">

            <table mat-table [dataSource]="dataListaProductos">
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                </ng-container>

                <ng-container matColumnDef="categoria">
                    <th mat-header-cell *matHeaderCellDef> Categoria </th>
                    <td mat-cell *matCellDef="let element"> {{element.descripcionCategoria}} </td>
                </ng-container>

                <ng-container matColumnDef="stock">
                    <th mat-header-cell *matHeaderCellDef> Stock </th>
                    <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
                </ng-container>
               
                <ng-container matColumnDef="precio">
                    <th mat-header-cell *matHeaderCellDef> Precio </th>
                    <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
                </ng-container>

                <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef> Estado </th>
                    <td mat-cell *matCellDef="let element"> {{element.esActivo == 1 ? 'Activo' : 'No activo'}} </td>
                </ng-container>

                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef style="width:80px;"> </th>
                    <td mat-cell *matCellDef="let element" style="display: flex; margin-top: 0.25rem; padding-bottom: 0.6rem;">

                        <button mat-icon-button style="color: #4c5ec7;" (click)="editarProducto(element)">
                            <mat-icon>edit</mat-icon>
                        </button>

                        <button mat-icon-button style="color: rgba(250, 80, 13, 0.952);" (click)="eliminarProducto(element)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnasTabla" ></tr>
                <tr mat-row *matRowDef="let row; columns:columnasTabla;" ></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4"> No hay datos que coincidan con el filtro "{{input.value}}"</td>
                </tr>

            </table>

            <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons>

            </mat-paginator>
        </div>

    </mat-card-content>

</mat-card>